{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A license compliant search engine powered by CaLi">
    <meta name="author" content="Benjamin MOREAU">

    <title>License Compliant Search Engine</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">

    <!-- Custom fonts for this template -->
    <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- cali style -->
    <link href="{% static "css/cali.css" %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static "css/clean-blog.min.css" %}" rel="stylesheet" type="text/css">

    <!-- VueJs -->
    <script src="https://unpkg.com/vue@2.5.13/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">Search Engine powered by CaLi</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/graph">Graph</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api">API</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="height: 280px; background-image: url({% static "img/home-bg.jpg"  %})">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>About</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="col-lg-8 col-md-10 mx-auto">
      <h2 class="post-title">About CaLi</h2>

      <p>CaLi is a lattice-based model to classify licenses. CaLi classifications are able to automatically answer questions like,
      what are the licenses that are compliant with a specific license? And what are the licenses that are compatible with a specific license?
      This license-based search engine is powered by a CaLi Classification and is able to classify licensed datasets.</p>
      </div>

      <div class="col-lg-8 col-md-10 mx-auto"><p class="post-meta" style="margin: 0px 0; font-size: 18px; font-style: italic; color: #868e96;">The source code of this work is available on GitHub under the MIT license</p></div>

      <div class="col-lg-8 col-md-10 mx-auto"><p class="post-meta" style="margin: 0px 0; font-size: 18px; font-style: italic; color: #868e96;">Cali Search Engine is a service created by Benjamin MOREAU with GDD research group - LS2N, University of Nantes and OpenDataSoft company.</p></div>

      <div style="display: flex; justify-content: space-around">
        <div class="align-middle" style="width: 236px; height: 130px; background-image: url({% static "img/ls2n.jpg"  %}); background-repeat: no-repeat; background-size:cover"></div>
        <div class="align-middle" style="width: 237px; height: 53px; background-image: url({% static "img/ods.jpg"  %}); background-repeat: no-repeat; background-size:cover; margin-top: auto; margin-bottom: auto;"></div>
      </div>
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="post-title">Contact</h2>
        <h3 class="post-subtitle" style="font-weight: 300;margin: 0 0 10px">MOREAU Benjamin</h3>
        <p class="post-meta" style="margin: 0px 0; font-size: 18px; font-style: italic; color: #868e96;">benjamin.moreau@ls2n.fr</p>
        <p class="post-meta" style="margin: 0px 0; font-size: 18px; font-style: italic; color: #868e96;">benjamin.moreau@opendatasoft.com</p>
      </div>

    </div>
    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://github.com/benjimor/CaLi">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">This service does not provide legal advice.</p>
            <p class="copyright text-muted">This site is under MIT license</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <!-- d3js for the graph -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="{% static "js/clean-blog.min.js" %}"></script>
  </body>

</html>
