.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.bg-success {
  background-color: #68D890!important;
}

.bg-danger {
  background-color: #FF515A!important;
}

.bg-warning {
  background-color: #FF9810!important;
}

h1 {
    font-size: 50px!important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
